.react-calendar__month-view__weekdays {
  color: rgb(65, 66, 66);
  font-weight: bold;
  font-style: normal;
}

.react-calendar__navigation button {
  font-size: 1em;
}

.custom-calendar {
  border: none;
  margin: 2;
  border-radius: 10px;
  background-color: #fce4ec;
  /* Light pink */
  box-shadow: 0px 4px 6px rgba(170, 14, 14, 0.1);
}

.react-calendar__tile--active {
  margin: 2;
  background-color: #fffb06 !important;
  /* Active day */
  color: rgb(0, 0, 0) !important;
}

.react-calendar__tile:hover {

  background-color: #c41b56 !important;
  /* Hover effect */
  border-radius: 5px;
}

.react-calendar__navigation {
  background-color: #ffffff;
  /* Header background */
  color: rgb(0, 0, 0);
}

.react-calendar__navigation button {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 2px solid white;
}

.react-calendar__navigation {
  margin: 3vh;
}

.react-calendar__month-view__days {
  margin: 1vh;
}



.React-calendar__month-view__weekdays__weekday .react-calendar__month-view__weekdays__weekday--current {
  text-decoration: none;
}

span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-weight: bolder;
}

.react-calendar {
  height: 30vh;

}

.react-calendar__month-view {
  margin-top: 6vh;
}