.ListItemCategory {
  padding: 0;
  margin: 0;

}
.ListItemCategory:hover .showStyleOnList{
  width: 10px;
  height: 50px;
  background-color: #fff233;
  margin-left: 0;
  margin-right: 10px;
}
.bottomGridHeading{
  font-weight: bolder !important;
  text-align:start !important;
  margin-left: 5% !important;
  transition:  0.3s ease-in-out;
  /* margin-top: 5% !important; */
}
.bottomGridHeading1{
  font-weight:bolder !important; 
  text-align:start;
}