/* mui react calendar */
.MuiDateCalendar-root {
  padding-top: 5%;
}
.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  background-color: #faf601 !important;
}
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin:hover {
  background-color: #faf601 !important;
  color: rgb(0, 0, 0) !important;

  border-radius: 10px;
}
.MuiDayCalendar-weekDayLabel {
  font-weight: 700 !important;
  font-size: large !important;
}

.css-1chuxo2-MuiPickersCalendarHeader-label {
  font-weight: 900;
  font-size: larger;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPickersCalendarHeader-switchViewIcon {
  font-size: larger !important;
}
.MuiPickersDay-root {
  font-size: larger !important;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  font-weight: 900 !important;
  color: rgb(0, 0, 0) !important;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  font-size: x-large !important;
}
