/* mui react calendar */
.MuiDateCalendar-root {
    padding-top: 5%;
  }
  /* .MuiDayCalendar-weekDayLabel {
    color: #b49edb !important;
    font-weight: 900 !important; 
    font-size: xx-large !important;
  } */
  .MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
    background-color: #faf601 !important;
  }
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin:hover {
  
    background-color: #faf601 !important;
    color: rgb(0, 0, 0) !important;
  
    border-radius: 10px;
  }
  .MuiDayCalendar-weekDayLabel {
    font-weight: 700 !important;
    font-size: large !important;
    /* padding: 4; */
    
    /* Text shadow for a glowing effect */
    /* text-shadow: 2px 2px 4px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255); */
    
    /* Box shadow for a more prominent edge */
    /* box-shadow: 0 4px 6px #ffffff, 0 1px 3px #ffffff; */
    
    /* Edge cut effect (using border radius and background gradient) */
    /* padding: 10px 20px;  */
    /* border-radius: 15px;   */
    /* background: linear-gradient(135deg, #056b36, #b49edb);  */
  }
  
  .css-1chuxo2-MuiPickersCalendarHeader-label {
    font-weight: 900;
    font-size: larger;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPickersCalendarHeader-switchViewIcon{
    font-size: larger !important;
  }
  .MuiPickersDay-root{
    font-size: larger !important;
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.Mui-selected{
    /* box-shadow: 0 4px 6px #ffffff, 0 1px 3px #ffffff; */
    font-weight: 900 !important;
    color: rgb(0, 0, 0) !important;
  }
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
    font-size: x-large !important;
  }